.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  border-radius: 9px;
  align-self: center;
  justify-content: center;
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  box-shadow: rgba(255, 255, 255, 1) 0px 1px 3px, rgba(255, 255, 255, 0.44) 0px 1px 2px;
  
  &__info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 2%;
  }
  &__image {
    width: 100%;
    border-radius: 7px;
  }
  &__description {
    font-weight: 400;
    font-size: 0.9rem;
  }
  &__tags-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  &__created-title {
    font-weight: 700;
    margin-bottom: 0;
  }
  &__tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 225px;
  }
}
.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid gray;
  color: white;
  font-size: 0.8rem;
  padding: 2%;
  font-weight: 400;
  margin: 2%;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link__project{
  text-decoration: none;
  padding: 2%;
  color: white;
  margin: 2%;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 3px 3px 0px;

  &:hover{
    background-color: purple;
  }
}

.link__image {
  width: 20%;
}