.card {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  color: white;
  margin-bottom: 5%;
  align-self: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  box-shadow:  rgba(0, 0, 0, 0.9) 0px 5px 7px;
  
  &__info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;

  }
  &__title{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 2%;
  }
  &__image-container {
    margin-bottom: 0;
  }
  &__image {
    width: 100%;
    margin-bottom: 0;
  }

  &__description {
    font-weight: 400;
    font-size: 0.9rem;
  }
  &__tags-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  &__created-title {
    font-weight: 700;
    margin-bottom: 0;
  }
  &__tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 225px;
  }
}
// .tags {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: rgba(255, 255, 255, 0.7);
//   border: 1px solid gray;
//   color: white;
//   font-size: 0.8rem;
//   padding: 2%;
//   font-weight: 400;
//   margin: 2%;
// }
.tag {
  background-color: #055e68;
  color: white;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  border-radius: 5px;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link__project{
  text-decoration: none;
  padding: 2%;
  color: white;
  margin: 2%;
  box-shadow:  rgba(0, 0, 0, 0.9) 0px 5px 7px;

  &:hover{
    background-color: purple;
  }
}

.link__image {
  width: 20%;
}