.menu-btn {
  display: flex;
  justify-content: flex-end;
  width: 80px;
  height: 20px;
  margin-top: 1rem;
  cursor: pointer;
  /* transition: all .5 ease-in-out; */
  -webkit-transition: all 0.35s ease-in-out;  
  -moz-transition: all 0.35s ease-in-out;  
  -o-transition: all 0.35s ease-in-out;  
  -ms-transition: all 0.35s ease-in-out;  
  transition: all 0.35s ease-in-out;
  float: right;
}
.menu-btn__hamburger {
  width: 30px;
  height: 3px;
  border-radius: 6px;
  -webkit-transition: all 0.35s ease-in-out;  
  -moz-transition: all 0.35s ease-in-out;  
  -o-transition: all 0.35s ease-in-out;  
  -ms-transition: all 0.35s ease-in-out;  
  transition: all 0.35s ease-in-out;
  background-color: #fff;
}

.menu-btn__hamburger::before, .menu-btn__hamburger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: all 0.35s ease-in-out;  
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;  
  -ms-transition: all 0.35s ease-in-out;  
  transition: all 0.35s ease-in-out;
}

.menu-btn__hamburger::before {
  transform: translateY(-7px);
}

.menu-btn__hamburger::after {
  transform: translateY(7px);
}

/* Hamburger animation */

.menu-btn.open .menu-btn__hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}