.menu-btn {
  display: flex;
  justify-content: flex-end;
  width: 80px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;  
  -moz-transition: all 0.35s ease-in-out;  
  -o-transition: all 0.35s ease-in-out;  
  -ms-transition: all 0.35s ease-in-out;  
  transition: all 0.35s ease-in-out;
  float: right;
  margin-right: 20%;
}

.menu-btn__hamburger {
  width: 33px;
  height: 4px;
  border-radius: 6px;
  -webkit-transition: all 0.35s ease-in-out;  
  -moz-transition: all 0.35s ease-in-out;  
  -o-transition: all 0.35s ease-in-out;  
  -ms-transition: all 0.35s ease-in-out;  
  transition: all 0.35s ease-in-out;
  background-color: #055E68;
}

.menu-btn__hamburger::before, .menu-btn__hamburger::after {
  content: '';
  position: absolute;
  width: 33px;
  height: 4px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: all 0.35s ease-in-out;  
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;  
  -ms-transition: all 0.35s ease-in-out;  
  transition: all 0.35s ease-in-out;
}

.menu-btn__hamburger::before {
  transform: translateY(-9px);
}

.menu-btn__hamburger::after {
  transform: translateY(9px);
}

/* Hamburger animation */

.menu-btn.open .menu-btn__hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}