@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '../../global-styles/variables';

.navbar-container {
  margin-right: 5%;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

}

.desktop {
  display: none;
}

.logo{
  font-family: 'Roboto Mono', monospace;
  color: white;
  left: 0;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 2%;
  text-align: center;
  padding-bottom: 0.3%;
}

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    margin-left: 2%;
  }
  .navbar-container {
    display: flex;
    justify-content: flex-start;
  }
  .logo{
    margin-right: 1%;
  }

}
