.navbar-container {
  margin-right: 5%;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.desktop {
  display: none;
}

.logo-container{
  width: 50%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-start;
  content: "<max/>";
}

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    margin-left: 2%;
  }
  .navbar-container {
    width: 100%;
    display: flex;
    // justify-content: flex-end;
  }
  
}
