.navbar-container {
  margin-right: 5%;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .navbar-container {
    display: flex;
    justify-content: flex-start;
  }
  
}
