@import '../../global-styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.navlinks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 1s ease;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.navlink{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 2rem;
  transition: all 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 12%;
  color: white;
  &:link{
    color: white;
  }
  &:visited {
    color: #fff;
  }
  &:first-child{
    margin-top: 1rem;
  }
}

.navlink:before {
  content: "[";
  margin-right: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.navlink:after {
  content: "]";
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.navlink:hover:before,
.navlink:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


.navlink.active {
  font-weight: 700;
  
  &::before {
  opacity: 1;

  content: "[";
  color: $primary;
  transform: translateX(5px);  

  }
  &::after {
  opacity: 1;   
  content: "]";
  color: $primary;
  transform: translateX(-5px);  

  }
}

@media only screen and (min-width: 1024px) {
  .navlinks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }
  .navlink:first-child {
    margin-top: 0;
  }
  .navlink {
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-bottom: 0%;
  }
}