.navlinks-container {
  display: flex;
  flex-direction: column;
}

.navlink{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;

  &:visited {
    color: #fff;
  }
}