@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.about-container {
  background-color: black;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 5%;
  flex-direction: column;
  overflow: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.skills-container{
  max-width: 500px;
}

.bio{
  text-align: justify;
  line-height: 1.7rem;

}
.image {
  width: 50px;
}

.dropcap {
  float: left;
  font-size: 400%;
  height: 100%;
  color: #cf142b;
  float: left;
  padding: 5px;
}

.profile-image {
  width: 70%;
  margin-bottom: 10%;
  border: 1px solid white;
  border-radius: 50%;
  max-width: 300px;

}

.knowledge {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;


  &__category {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }
}
.express-icon {
  background-color: white;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item{
  padding: 5%;
  &__title {
    font-weight: 700;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-image {
    width: 70%;
    margin-bottom: 10%;
    border: 1px solid white;
    border-radius: 50%;
  }
  .skills-container {
    min-width: 500px;
  }

  .bio {
    max-width: 650px;
  }
}