@import '../../global-styles//variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  height: 100%;
}

.homepage-container {
  height: $base-vh;
  background-color: #212121;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.4fr;
  overflow: hidden;
}

.icon {
  width: 55px;
  height: 55px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  color: $light;
  &__greeting {
    margin: 0;
    font-size: 2.5rem;
    margin-bottom: 5%;
  }
  &__name {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 5%;
  }
  &__title {
    margin: 0;
    font-size: 1rem;
    margin-bottom: 5%;
  }
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-a {
  display: flex;
  grid-row-start: 2;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: auto 0;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 15%;
}

.slideshow-slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
  margin: auto 0;
}

@media only screen and (min-width: 1024px) {
  .homepage-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2%;
  }

  .item-a {
    justify-content: flex-start;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 2;
    // background-color: white;
  }

  .slideshow-container {
    max-width: 250px;
    max-height: 250px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
  .introduction {
    align-items: flex-end;
  }
  .introduction__greeting {
    font-size: 4rem;
  }
  .introduction__name {
    font-size: 3.5rem;
  }
  .introduction__title {
    font-size: 2rem;
  }
  .icon-container {
    justify-content: flex-end;
    align-items: flex-start;
  }
}
