@import '../../global-styles//variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  height: 100%;
}

.homepage-container {
  height: $base-vh;
  background-color: black;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.4fr;
  overflow: hidden;
}


.icon {
  width: 55px;
  height: 55px;
}

.bio-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  color: white;
  height: 80%;
  margin-top: 20%;
  &__greeting {
    margin: 0;
    font-size: 2.5rem;
    margin-bottom: 5%;
  }
  &__name {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 5%;
  }
  &__title {
    margin: 0;
    font-size: 1rem;
    margin-bottom: 5%;
  }
  &__icons-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.item-c {
  display: flex;
  grid-row-start: 2;
  justify-content: center;
  align-items: center;
}

.item-d {
  grid-row-start: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10%;
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: auto 0;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 15%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
  margin: auto 0;
}

@media only screen and (min-width: 1024px) {
  .homepage-container {
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
  }
  .item-c {
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .item-d {
    grid-row-start: -2;
    grid-column-start: 1;
  }
  .slideshow {
    max-width: 250px;
    max-height: 250px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
  .bio-intro {
    align-items: flex-end;
  }
  .bio-intro__greeting {
    font-size: 4rem;
  }
  .bio-intro__name {
    font-size: 3.5rem;
  }
  .bio-intro__title {
    font-size: 2rem;
  }
  .bio-intro__icons-container {
    justify-content: flex-end;
    align-items: flex-start;
  }
}
