@import '../../global-styles//variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

$primary: #FFCE00;
$secondary: #FE4880;
$dark: #212121;
$light: #F3F3F3;

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  color: white;
  padding: 10%;
  font-family: 'Roboto', sans-serif;
}

.portfolio__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.portfolio__title {
  text-shadow: rgba(0, 0, 0, 0.45) 0px 4px 5px;
  font-weight: bold;
  font-size: 2.6rem;
  margin-bottom: 2%;
}

@media only screen and (min-width: 1024px) {
  .portfolio-container {
  padding-top: 10%;
  }
  .portfolio__title {
    padding-bottom: 5%;

  }
}