.dropdown {
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 30vh;
  width: 100vw;
  background-color: rgba(#000, 0.6);
  margin-top: 17%;
}

.hide {
  visibility: hidden;
  transform: translateY(-50px);
  opacity: 0;
}