.dropdown {
  transition: all 0.25s ease-out;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 30vh;
  width: 100vw;
  background-color: rgba(#000, 0.6);
  margin-top: 17%;
  z-index: 10;

}

.hide {
  visibility: hidden;
  transform: translateY(-80px);
  opacity: 0;
}